:root {
  --fs-h1: 30px;
  --fs-p: 20px;
  --section-width: 45%;
  --preview-height: 275px;
}

.section {
  margin: 20px 0;
  display: flex;
  width: var(--section-width);
  flex-direction: column;
  box-shadow: 0px 10px 20px rgba(236, 231, 231, 0.15);
}

.preview {
  width: 100%;
  height: var(--preview-height);
}

.section h1 {
  text-align: center;
  font-size: var(--fs-h1);
  margin: 20px;
}

.section p {
  font-size: var(--fs-p);
  margin: 5px;
}

@media only screen and (max-width: 960px) {
  :root {
    --fs-h1: 25px;
    --fs-p: 18px;
    --section-width: 45%;
    --preview-height: 175px;
  }
}

@media only screen and (max-width: 550px) {
    :root {
        --fs-h1: 22px;
        --fs-p: 16px;
        --section-width: 100%;
      }
}
