*{
  font-family: 'Open Sans', sans-serif;
  color: #ADB0B7;
  padding: 0px;
  margin: 0px;
  background-color: #1f2235;
}

h1, h2, p{
  background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 50.15%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}