:root{
    --fs-h1: 3rem;
    --fs-h2: 2.5rem;

    --fs-p: 1.5rem;

    --width-photo : 500px;
}

.section{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}

.left h1{
    font-size: var(--fs-h1);
}

.left h2{
    font-size: var(--fs-h2);
}

.about p{
    margin: 20px 0;
    font-size: var(--fs-p);
    margin: 20px 10%;
}

.left{
    width: 40%;
}

.right{
    width: 60%;
}

.right img{
    width: var(--width-photo);
    height: auto;
    margin-left: 15%;
    margin-right: 10px;
}

.left span{
    background: #fd5a56;
    background-clip: text;
}

@media only screen and (max-width: 1200px){
    :root{
        --width-photo : 400px;
    }
}

@media only screen and (max-width: 960px){
    :root{
        --fs-h1: 1.8rem;
        --fs-h2: 1.6rem;
    
        --fs-p: 1.3rem;

        --width-photo : 300px;
    }

    .left{
        width: 45%;
    }
    
    .right{
        width: 55%;
    }
}

@media only screen and (max-width: 780px){
    :root{
        --width-photo : 225px;
    }
}

@media only screen and (max-width: 550px){
    :root{
        --fs-h1: 1.6rem;
        --fs-h2: 1.4rem;
    
        --fs-p: 1rem;

        --width-photo : 175px;
    }

    .left{
        width: 45%;
    }
    
    .right{
        width: 55%;
    }
}